/* home.css */
.home-container {
  position: relative;
  background-image: url('../assets/Untitled\ design\ \(2\).png');
  /* background-image: url('../assets/DALL·E\ 2024-10-28\ 19.41.22\ -\ A\ professional\,\ high-definition\ image\ of\ a\ geyser\ repair\ scene.\ The\ image\ features\ a\ geyser\ technician\ working\ carefully\ on\ a\ water\ heater\ in\ a\ modern.webp'); */
  /* background-image: url('https://www.capitanappliance.com/wp-content/uploads/2023/01/g9e2BwkAVS6touFGLqCCap7df6DguSwj1673541070.jpg'); */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 16px;
}


.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(61, 28, 28); /* Change text color for better visibility */
  text-align: center;
}




.content-overlay {
 width: 100%;
  padding: 20px ;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

}





.top-container {
  display: flex;
  flex-direction:row;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 20px;
 padding: 0px 40px;
}


/* left side  */

.left-side-display-services {
  /* margin: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-self: flex-start;
  gap: 10px;
}

.left-side-display-services-text {
  font-size: 30px; /* Increase font size for main text */
  line-height: 1.2;
  font-weight: bold;
  color: black !important;

}
.left-contnat {
  font-size: 1.3rem; /* Increase font size for main text */
  line-height: 1.2;
  color: orange;
  font-weight: 600;
}
.left-contnat-2 {
  font-size: 1.2rem; /* Increase font size for main text */
  line-height: 1.2;
  color: rgb(21, 21, 20);
  font-weight:bold;
}
.left-side-display-services .left-side-button {
  background-color:orange !important;
  padding: 15px 40px !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border: 1px solid orange !important;
  border-radius: 4px;
}
.left-side-button a{
text-decoration: none;
color: white;
}
.left-side-display-services .left-side-button:hover {
  background-color: green !important;
  border: 1px solid green !important;
}


/* right side  */


.right-side-display-form{
 
 
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -30px;
  background-color: white;
  padding: 20px 22px;
  border-radius: 6px;
  



}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Limit form width */

 
}

input, select {
  margin: 4px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid black;
}

.book-now-btn {
  background-color:green; /* Button color */
  color: white;
  border:1px solid gray;
  padding: 12px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.terms-text {
  font-size: 0.8rem;
  text-align: center;
}

.status-text {
  margin-top: 10px;
}
.dots-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
  
}
.status{
  color: rgb(59, 54, 54);
}
/* Base dot style */
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  
}

/* Green Dot with Heartbeat Animation */
.green-dot {
  background-color: green !important;
  animation: heartbeat 1.5s infinite;
}

/* Heartbeat Animation */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* Red Dot - Static */
.red-dot {
  background-color: red ;
}


/* bottom side container  */

.bottom-side-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
 

}


.circle {
  width:65px;         /* Adjust size as needed */
  height:65px;        /* Adjust size as needed */
 border: 1px solid rgb(90, 86, 79);
  border-radius: 50%;   /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); /* Top shadow effect */
}


.tick-mark {
  font-size: 25px;  /* Size of the tick mark */
  color: whitesmoke;     /* Color of the tick mark */
  font-weight: 800;
}
.tick-mark-bottom-text{
  color: white;

}


.call-text{
  color:ghostwhite;
  font-size: 30px !important;
  font-weight:900;
}
.phone-number{
  color: rgb(68, 64, 64);
  font-size: 23px !important;
  font-weight: bold;
}

.phone-number a{
  color: ghostwhite;
  font-size: 23px !important;
  font-weight: 800;
  text-decoration: none;
}


.features {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* home 2 page  */


/* Main Container */
.home2-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}




/* Hero Section */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  gap: 60px;
}

.hero-content {
  flex: 1;
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.2rem;
  color: #333;
}

.hero-content h1 span {
  color: #034b92; /* Accent color */
}

.hero-content p {
  color: black;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  
}

.hero-content .mission {
color: gray !important;
  margin: 15px 0;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.stats {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stat h2 {
  font-size: 2.9rem;
  margin-top: 10px;
 
}

.stat .icon {
  font-size: 2rem;
  color:gray;
  font-weight: 780;
}

.hero-image {
  flex: 1;
  max-width: 450px;
  padding: 20px;
}

.hero-image img {
  width: 100%;
  height:360px;
  border-radius: 8px;
}







/* Services Section */

.services-section {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
}

.services-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #302e2e;
  margin-bottom: 20px;
  font-weight: 600;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.service-list, .why-choose {
  flex: 1;
  min-width: 300px;
 
}

.service-list ul, .why-choose ul {

list-style-type: square;

  padding-left: 20px;
 
}
.service-list ul, .why-choose ul li{
 
 margin-top: 10px;
 font-size: 17px !important;
 color: #2a2a2a;
 font-weight: 550;
 
}


.service-list h3, .why-choose h3 {
  font-size: 1.2rem;
  color:rgb(210, 137, 1);
}

.service-list ul li{
  margin-top: 10px;
  font-size: 17px !important;
  color: #2a2a2a;
  font-weight: 550;
}






/* quick-service-section */

.quick-service-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1d1b7f, #93007d);
  padding: 1.5rem 3rem;
  color: white;
}

.quick-service-content h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #ffffff;
}
.animation-exp{
  color: blue;
}

.quick-service-content p {
  font-size: 1.1rem;
  margin: 0.5rem 0 0;
  color: #d3d3d3;
}

.book-service-button {
  background-color: #e68739;
  color: white;
  padding: 0.95rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.book-service-button:hover {
  background-color: green;
  transform: scale(1.1);
}



/* feature-section  */

.feature-section {
  padding: 2rem 1rem;
  text-align: center;
  
}

.feature-section h2 {
  font-size: 1.5rem;
  color: #2a2a2a;
  margin-bottom: 1.5rem;
}

.feature-section h2 span {
  color: #0073e6; /* Adjust color as needed */
}

.feature-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.feature-step {
  flex: 1 1 200px; /* Responsive sizing */
  max-width: 250px;
  padding: 1rem;
  text-align: center;
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fb1629; /* Icon background color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;

}.icon-circle:hover {
  width: 90px;
  height: 90px;
  
  background-color: orange; /* Icon background color */
 
}
.call-hover:hover{
  width: 100px;
  height: 100px;
  
  background-color: green !important; /* Icon background color */
 
}
.feature-icon {
  color: white;
  font-size: 1.5rem;
}

.feature-step h3 {
  font-size: 1.2rem;
  color: #2a2a2a;
  margin-bottom: 0.5rem;
}

.feature-step p {
  font-size: 0.9rem;
  color: #666;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.feature-step h6 {
 
    font-size: 1.5rem;
    color: gray;
    letter-spacing: 0.5px;
    font-weight: 900;
    margin-top: 4px !important;
   
  
}


/* Responsive Styles */
@media (max-width: 768px) {


/* hero section  */

  .hero-section {
    flex-direction: column;
    margin-bottom: 15px;
    gap: 8px;
  }
.stats {
    gap: 60px;
   align-items: flex-start;
   }

 .stat h2 {
    font-size: 2rem;
    margin-top: 10px;
   
  }
  
  .stat {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .sta-paragrap{
    color: black !important;
    font-size: 15px !important;
   text-align: center !important;
  }
  .hero-content {
   
    padding: 15px;
  }
  
  .hero-content h1 {
    font-size: 1.7rem;
   
  }
  
 
  
  .hero-content p {
  
    font-size: 17px;
    
    
  }
  
  .hero-content .mission {
 
    margin: 10px 0;
  
   
  }
  
 
 
  
  .hero-image {
   
    padding: 15px;
  }
  
  .hero-image img {
 
    height:300px;
  
  }


  /* Services Section */

.services-section {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
}

.services-section h2 {
 
  font-size: 1.3rem;
  
}

.services-container {
 flex-direction: column;
  gap: 26px;
}

.service-list, .why-choose {
  flex: 1;
  min-width: 300px;
 
}

.service-list ul, .why-choose ul {

list-style-type: square;

  padding-left: 20px;
 
}
.service-list ul, .why-choose ul li{
 font-size: 16px !important;

}


.service-list h3, .why-choose h3 {
  font-size: 1rem;

}

.service-list ul li{
 
  font-size: 16px !important;
  
}

/* quick-service-section */

.quick-service-section {
 
  padding: 1rem 0.5rem;
  margin-top: 20px;
  border-radius: 4px;
}

.quick-service-content h2 {
  font-size: 1.2rem;
 
}

.quick-service-content p {
  font-size: 1rem;

 font-weight: 600;
}

.book-service-button {
 
  padding: 0.75rem 1.2rem;
 
}

/* feature-section  */

.feature-section {
  padding: 1rem 1.1rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.feature-section h2 {
  font-size: 1.2rem;
 
  font-weight: 600 !important;
}

.feature-section h2 span {
  color: #0073e6; /* Adjust color as needed */
}

.feature-steps {
 display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;

  
}



.icon-circle:hover {
  width: 90px;
  height: 90px;
  background-color: orange; /* Icon background color */
 
}

.feature-step h6 {
 
    font-size: 1.3rem;
   
   
}

}








/* Optional fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }






  
}







/* Responsive design */
@media (max-width: 768px) {
  .quick-service-section {
    flex-direction: column;
    text-align: center;
  }

  .book-service-button {
    margin-top: 1rem;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-container {
   background-image: url('../assets/DALL·E\ 2024-10-31\ 17.23.05\ -\ A\ realistic\ scene\ of\ a\ washing\ machine\ repair\ in\ a\ home\ setting.\ A\ technician\ wearing\ a\ work\ uniform\ and\ gloves\ is\ fixing\ a\ front-loading\ washing\ mach.webp');
    /* background-image: url('../assets/DALL·E\ 2024-10-29\ 20.40.02\ -\ An\ image\ of\ a\ technician\ repairing\ a\ washing\ machine.\ The\ technician\ is\ kneeling\ beside\ an\ open\ washing\ machine\,\ holding\ tools\,\ and\ inspecting\ its\ inn.webp') */
  }
  .display-services {
      font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .book-now-btn {
      padding: 10px; /* Smaller button padding */
  }

  input, select {
      font-size: 0.9rem; /* Smaller input size */
  }








  .home-container {
   
    padding: 10px;
   
  }
  
  .content-home {
    margin-top: 60px;
  }
  
  
  
  
  .content-overlay {
  
    padding: 10px ;
   
  
  }
  
  
  
  
  
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   padding: 0px 2px;
  }
  
  
  /* left side  */
  
  .left-side-display-services {
    
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: start;
    align-self: flex-start;
    gap: 6px;
  }
  
  .left-side-display-services-text {
    font-size:22px; /* Increase font size for main text */
    line-height: 1.2;
    font-weight: 700;
    text-align: left;
    color: white !important;
  
  
  }
  .left-contnat {
    font-size: 1rem; /* Increase font size for main text */
    line-height: 1.2;
    color: orange;
    font-weight: 600;
    text-align: left;
  }
  .left-contnat-2 {
    font-size: 1.1rem; /* Increase font size for main text */
    line-height: 1.2;
    color:black;
    font-weight:700;
    text-align: left;
    margin-top: 19px;
  }
  .left-side-display-services .left-side-button {
   
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  
  /* right side  */
  
  
  .right-side-display-form{
    margin-top: 2px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
   
  
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px; /* Limit form width */
   
   
  }
  
  input, select {
    margin: 3px 0;
    padding:8px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid black;
  }
  
  .book-now-btn {
    background-color:green; /* Button color */
    color: white;
    border:1px solid gray;
    padding: 12px !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .terms-text {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .status-text {
    margin-top:2px;
  }
  .dots-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 17px;
  }
  .status{
    color: rgb(59, 54, 54);
    font-size: 14px;
    font-weight: 600;
  }
  /* Base dot style */
  .dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  
  /* Green Dot with Heartbeat Animation */
  .green-dot {
    background-color: green !important;
    animation: heartbeat 1.5s infinite;
  }
  
  /* Heartbeat Animation */
  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }
  
  /* Red Dot - Static */
  .red-dot {
    background-color: red ;
  }
  
  
  /* bottom side container  */
  
  .bottom-side-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6px;
   
  
  }
  
  
  .circle {
    width:55px;         /* Adjust size as needed */
    height:55px;        /* Adjust size as needed */
   border: 1px solid rgb(245, 242, 239);
    border-radius: 50%;   /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); /* Top shadow effect */
  }
  
  
  .tick-mark {
    font-size: 25px;  /* Size of the tick mark */
    color: whitesmoke;     /* Color of the tick mark */
    font-weight: 800;
  }
  .tick-mark-bottom-text{
    color: white;
    font-size: 14px;
    font-weight: 700;
  
  }
  
  
  .call-text{
    color:rgb(229, 244, 236);
    font-size: 25px !important;
    font-weight: 700;
  }
  .phone-number a{
    color:rgb(222, 242, 232);
    font-size: 24px !important;
    font-weight: bold;
  }
  
  
  
  
  .features {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  
}



@media (min-width: 769px) {
  .display-services {
      font-size: 3rem; /* Larger font size for desktop */
  }

  .book-now-btn {
      padding: 20px; /* Larger button padding */
  }
}
